body {
    background: azure;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    padding: 1.25rem;
}

.header h1 {
    color: #333;
    margin-bottom: 1.25rem;
}

.main {
    background: white;
    padding: 1.25rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
    display: inline-block;
}

input[type="number"] {
    width: 12.5rem;
    padding: 0.5rem;
    margin: 0.625rem 0;
    border: 0.0625rem solid #ccc;
    border-radius: 0.25rem;
}

.checkbox {
    display: block;
    margin: 0.625rem 0;
    font-size: 1rem;
}

.button {
    background-color: #007bff;
    color: white;
    padding: 0.625rem 0.9375rem;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
    margin-top: 0.625rem;
    font-size: 1rem;
}

.button:hover {
    background-color: #0056b3;
}

.result {
    margin-top: 1.25rem;
}

pre {
    background: #fff;
    padding: 0.625rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.1);
    display: inline-block;
    text-align: left;
    min-height: 10rem;
    min-width: 30rem;
}

img {
    border-radius: 0.25rem;
}